In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import os.path

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
six_subm = pd.read_csv('../fourth_and_fifth_and_six/sixth_submit.csv')

In [4]:
public_sub = pd.read_csv('sub.csv')

In [7]:
public_sub.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e       0.623661
1  00000176ac758d54827acd545b6315a5       0.685588
2  0000019dcefc128c2d4387c1273dae1d       0.733574
3  0000055553dc51b1295785415f1a224d       0.471014
4  00000574cefffeca83ec8adf9285b2bf       0.567040

In [5]:
six_subm['HasDetections'] = (six_subm['HasDetections'] + public_sub['HasDetections']) / 2

In [6]:
six_subm.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e       0.597921
1  00000176ac758d54827acd545b6315a5       0.640099
2  0000019dcefc128c2d4387c1273dae1d       0.655712
3  0000055553dc51b1295785415f1a224d       0.465527
4  00000574cefffeca83ec8adf9285b2bf       0.557960

In [9]:
six_subm.to_csv('seventh_submit.csv', index=False, float_format='%.5f')

Mix of sixth and public https://www.kaggle.com/moradnejad/ensemble-lb-score-0-697

In [10]:
public_sub.to_csv('eights_submit.csv', index=False, float_format='%.5f')

Just copy of public https://www.kaggle.com/moradnejad/ensemble-lb-score-0-697