In [1]:
import pandas as pd
import numpy as np

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
subm = pd.read_csv('../second_n_third/second_submit.csv')

In [3]:
public_nffm_subm = pd.read_csv('nffm_submission.csv')

In [4]:
subm.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e        0.57562
1  00000176ac758d54827acd545b6315a5        0.67148
2  0000019dcefc128c2d4387c1273dae1d        0.57768
3  0000055553dc51b1295785415f1a224d        0.47972
4  00000574cefffeca83ec8adf9285b2bf        0.55388

In [5]:
public_nffm_subm.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e       0.528249
1  00000176ac758d54827acd545b6315a5       0.514046
2  0000019dcefc128c2d4387c1273dae1d       0.550244
3  0000055553dc51b1295785415f1a224d       0.360985
4  00000574cefffeca83ec8adf9285b2bf       0.486810

In [6]:
sub=subm['MachineIdentifier'].to_frame()
sub['HasDetections']=0

In [7]:
sub.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e              0
1  00000176ac758d54827acd545b6315a5              0
2  0000019dcefc128c2d4387c1273dae1d              0
3  0000055553dc51b1295785415f1a224d              0
4  00000574cefffeca83ec8adf9285b2bf              0

In [8]:
sub['1'] = subm['HasDetections']

In [9]:
sub['2'] = public_nffm_subm['HasDetections']

In [10]:
sub.head()

                  MachineIdentifier  HasDetections        1         2
0  0000010489e3af074adeac69c53e555e              0  0.57562  0.528249
1  00000176ac758d54827acd545b6315a5              0  0.67148  0.514046
2  0000019dcefc128c2d4387c1273dae1d              0  0.57768  0.550244
3  0000055553dc51b1295785415f1a224d              0  0.47972  0.360985
4  00000574cefffeca83ec8adf9285b2bf              0  0.55388  0.486810

In [11]:
sub['HasDetections'] = (sub['1'] + sub['2']) / 2

In [12]:
sub.head()

                  MachineIdentifier  HasDetections        1         2
0  0000010489e3af074adeac69c53e555e       0.551935  0.57562  0.528249
1  00000176ac758d54827acd545b6315a5       0.592763  0.67148  0.514046
2  0000019dcefc128c2d4387c1273dae1d       0.563962  0.57768  0.550244
3  0000055553dc51b1295785415f1a224d       0.420352  0.47972  0.360985
4  00000574cefffeca83ec8adf9285b2bf       0.520345  0.55388  0.486810

In [13]:
sub = sub.drop(columns=['1', '2'])

In [14]:
sub.head()

                  MachineIdentifier  HasDetections
0  0000010489e3af074adeac69c53e555e       0.551935
1  00000176ac758d54827acd545b6315a5       0.592763
2  0000019dcefc128c2d4387c1273dae1d       0.563962
3  0000055553dc51b1295785415f1a224d       0.420352
4  00000574cefffeca83ec8adf9285b2bf       0.520345

In [15]:
sub.to_csv('second_and_public_nffm_submit.csv', index=False, float_format='%.5f')