# Домашнее задание 5. Кластеризация и поиск аномалий

**Задача**: Требуется разбить на кластеры заголовки статей.

* Проверьте данные на наличие аномалий
* Попробуйте различные алгоритмы кластеризации. Выберите наилучший на Ваш взгляд. Соответствуют ли бОльшие значения метрик бОльшему визуальному качеству?
* Попробуйте добавить в пайплайн PCA. Улучшилось ли качество кластеризации?
* Есть ли аномальные кластеры среди заголовков?

**Данные**: https://www.kaggle.com/snapcrack/all-the-news

**Дедлайн: 23:59 13.12.2018**

In [1]:
import pandas as pd

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
path = '/Users/vbaryshev/Documents/Computer_Science/Data_Science/hse_ml/HW05/all-the-news/'

filepaths = ['articles1.csv', 'articles2.csv', 'articles3.csv']
df = pd.concat(map(pd.read_csv, [path + i for i in filepaths]))

In [7]:
df.shape

(142570, 10)

In [8]:
df.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."